<div class="order-details-container">
  <table class="order-details">
    <% line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.quantity %>&times;</td>
        <td><%= line_item.deal.title %></td>
        <td class="item_price">: <%= number_to_currency(line_item.total_price, unit: "₹") %>  </td>
      </tr>
    <% end %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell">: <%= number_to_currency(@order.amount, unit: "₹") %></td>
    </tr>
  </table>
</div>
