<% if @order.cart? && @order.line_items.present? %>
  <%= render 'email', { order: @order } %>
<% elsif @order.email? %>
  <%= render 'address', { order: @order } %>
<% elsif @order.address? %>
  <%= render 'confirm', { order: @order } %>
<% else %>
  <h3 align="center">No orders currently</h3>
<% end %>

<% if @order.line_items.present? %>
  <div class="corner-cart">
    <div>
      <h4>Order details</h4>
      <%= render 'order_details', { line_items: @order.line_items, order: @order } %>
    </div>
  </div>
<% end %>
