//= require application

.deal-form-main {
  padding: 50px;
}

.deals-container {
  padding: 20px;
}

.deal-title {
  text-align: center;
}

.deal-card {
  max-width: 20rem;
}

.corner-button {
  text-align: right;
  padding-right: 10px;
}

.deal-container {
  padding: 20px;
}

.destroy-link {
  color: red;
}
