/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any other CSS/SCSS files in this
 * directory. Styles in this file should be added after the last require_*
 * statement. It is generally better to create a new file per style scope.
 *
 *= require_self
 */

//= require globals
//= require select2
@import 'bootswatch_theme';

.card-info {
  background-color: red;
}

.deals-container {
  background-color: #eeeaf4;
  margin-bottom: 0px;
}

.deal-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form .search-input {
  width: 50%;
  margin-right: 10px;
}

.search-form input {
  margin-right: 10px;
  margin-left: 10px;
}

.card-title {
  margin-bottom: 2px;
}

.deal-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.deal-heading span {
  margin-left: 10px;
}
