html, body {
  height: 100%;
}

.form-error {
  color: red;
  font-size: 12px;
}

.field_with_errors input {
  border-color: red;
}

.form-main {
  display: flex;
  width: 100%;
  height: 70%;
  padding: 10px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-login-form form {
  border: 1px solid grey;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-login-form legend {
  text-align: center;
}

.signup-login-form input[type='submit'] {
  margin-top: 5px;
}

.signup-login-form input[type='text'], input[type='password'], input[type='email'] {
  width: 350px;
}

.checkbox {
  margin-top: 10px;
}

.card-info {
  background-color: red;
}

.deals-container {
  background-color: #eeeaf4;
  margin-bottom: 0px;
}

.deal-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form .search-input {
  width: 50%;
  margin-right: 10px;
}

.search-form input {
  margin-right: 10px;
  margin-left: 10px;
}

.card-title {
  margin-bottom: 2px;
}

.deal-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.deal-heading .add-buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-heading span {
  margin-left: 10px;
}

.cart-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.order-details-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

.order-details {
  width: 20%;
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
  font-size: 20px;
}
